{% extends 'templates/app.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h1 class="title">Welcome to {{ app.name }}!</h1>
        </header>

        <div class="section">
            <p>
                Everything works!
            </p>
            <p>
                Feel free to add or remove anything to fit Spring to your new project.
            </p>
        </div>

        <div class="section">
            <p>
                Created by <a href="https://github.com/Seramity" target="_blank">Seramity</a>
            </p>
        </div>
    </div>
{% endblock %}